JWT_SECRET="HNG TEAM NEWTON"
DB_PWD=hngnewton
DB_USERNAME=newton
DB_NAME=auth
DB_HOST=104.248.143.148
GOOGLE_REDIRECT_URL=https://auth.akuya.tech/google/redirect
GOOGLE_CLIENT_ID=1088290127733-tra9hjroj87cekl8vbodavjgsn8veqof.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GITHUB_CLIENT_ID=3354b39aa2d5fadc36a3
GITHUB_CLIENT_SECRET=d39490446c96a0e15486586e332b6f004570c30a
NODEMAILER_USER=
NODEMAILER_PASSWORD=
NODEMAILER_SERVICE=
